<table class="row header">
  <tr>
    <td>
      <p class="lede">
        <%= Spree.t('order_mailer.confirm_email.dear_customer') %>

      </p>
      <p>
        Se ha realizado una solicitud para restablecer su contraseña.
        <br>Si no realizó esta solicitud, simplemente ignore este correo electrónico.
        <br>Si realizó esta solicitud, simplemente haga clic en el siguiente enlace:
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <p class="lede">
        <%= link_to "Recuperar contraseña",@edit_password_reset_url %>
      </p>
      <p>
        Si la URL anterior no funciona, intente copiarla y pegarla en su navegador.<br>Si continúa teniendo problemas, no dude en contactarnos.
      </p>
      <p>
        <%=@edit_password_reset_url %>
      </p>
    </td>
  </tr>
</table>
